!!!
%html
  %head
    %title Unconference
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class => "btn btn-navbar",
            :"data-toggle" => "collapse",
            :"data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Unconference", root_path, class: 'brand'
          .nav-collapse
            %ul.nav
              %li= link_to "Conferences", conferences_url

    .container
      .auth
        - if authenticated?
          signed in as 
          = current_user.name || "Somebody(#{current_user.id})"
        - else
          = link_to "Auth With Twitter", '/auth/twitter'
      - if notice
        .flash-notice= notice
      - if alert
        .flash-alert= alert
      = yield
